{{< layout}}

    {{$content}}
        <div class="page-title">
            <h1>Latest Products</h1>
            <p>Exclusive Items From Your Favorite Artists.</p>
        </div>

        <div class="item-grid">
            {{#items}}
                <div class="item-card">
                    <div class="item-card-image">
                        <img src="/images/{{image_url}}" alt="{{name}}">
                    </div>
                    <div class="item-card-content">
                    </div>
                </div>
            {{/items}}
        </div>

    {{/content}}

{{/layout}}